@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@300&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem ;
    color: black;
    font-family: 'Lobster', cursive;
}

.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}
.navbar-brand:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    border: 2px solid rgb(230, 84, 84);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    margin-right: -35px;
    font-family: 'Oswald', sans-serif;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(230, 84, 84);
    color: wheat;
    font-weight: 700;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
/* https://images.unsplash.com/photo-1610173827043-9db50e0d8ef9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80 */

.main{
    background: url(./main.jpg)no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
     
}

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color:rgb(248, 26, 92) ;
    border-radius: 60px;
    color: white;
    font-weight: 700;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.btn1:hover{
    background-color:rgb(216, 21, 80) ;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.img-small img{
    max-width:400px;
    height: 200px;
    padding: 0 50px;
}
.trending-heading h1{
    font-family: 'Lobster', cursive;
    font-weight: 700;
}
.trending-heading h5,.about-col h5{
    font-style: italic;
}
.card:hover{
    box-shadow: 13px 10px 31px -6px rgba(0,0,0,0.73);
    -webkit-box-shadow: 13px 10px 31px -6px rgba(0,0,0,0.73);
    -moz-box-shadow: 13px 10px 31px -6px rgba(0,0,0,0.73);
    transition:.5s ;
    -webkit-transition:.5s ;
    -moz-transition:.5s ;
    -ms-transition:.5s ;
    -o-transition:.5s ;
}
.card-body img{
    height: 400px;
}

.about-col h1{
    font-family: 'Lobster', cursive;
    font-weight: 700;
}
.shop img{
    width: 850px;
}

.banner{
      background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,2)), url(./main2.jpg)no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}

.banner h1{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    font-weight: 700;
    color: white;
     
}
.footer{
    background-color:black;
    color: white;
}
.btn2{
    height: 45px;
    width: 100px;
    background-color: white;
    margin-left: -10px;
    border:2px solid white;
    font-weight: 600;


}
.footer input{
height: 45px;
width: 53%;
border:2px solid white;
background: black;
color: white;
margin-top: 20px;
outline: none;


}

.footer input::placeholder{
    color: white;
    font-weight: 700;
}
.footer p{
    margin: 0;
    font-size: 1.3rem;
    padding: 5px;
}



